<template name="master">
	<div class="column col-sm-12 col-xs-12" id="main">
		<!-- top nav -->
		<div class="navbar navbar-blue navbar-static-top">	
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a href="/" class="navbar-brand logo">P</a> -->
				<a href="/"><img src="/img/logo.jpg" class="app-logo"></a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					{{#if currentUser}}
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications</a>
						{{> notifications}}
					</li>
					{{/if}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{{#if currentUser}}
					<li>
						<a href="/user/{{currentUser._id}}">
							{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a id="profile-settings">Profile Settings</a>
							</li>
							<li>
								<a id="logout">Logout</a>
							</li>
						</ul>
					</li>
					{{/if}}
				</ul>
			</nav>
		</div>
		<!-- /top nav -->
		<div class="padding">
			<div class="full col-sm-8 col-sm-offset-2">
				<!-- content -->											
				<div class="row">
					{{> yield}}
				</div>
			</div>
		</div>
	</div>
</template>