<template name="notifications">
	<ul class="dropdown-menu">
		{{#each notifications}}
			<li>
				
				{{#unless empty}}
				<a href="
					{{#if planId}}
						/plan/{{planId}}
					{{else}}
						/user/{{targetUserId}}
					{{/if}}
				">
					<strong>{{name}}</strong>
					 {{action}}
					{{#if planId}}
				 	<strong>{{planName}}</strong>
				 	{{/if}}
				</a>
			 	{{else}}
			 		<p class="no-noti text-center">(nothing to show here)</p>
			 	{{/unless}}
			</li>
		{{/each}}
	</ul>
</template>