<template name="plan">

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-6">
							<h1>{{title}}</h1>
							<h4>{{description}}</h4>
						</div>
						<div class="col-sm-6">
							<div class="interest-level">
								{{> interestLevel}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{#if isOwner}}
						<h4 id="settings" class="pull-right" style="cursor: pointer;">
							<i class="fa fa-cog"></i>
						</h4>
					{{/if}}
					<h4>Details</h4>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<strong style="text-decoration: underline;">Organizer:</strong>
							<a href="/user/{{createdBy}}"> {{organizer}}</a>
						</li>
						<li>
							<strong style="text-decoration: underline;">Date and time:</strong>
							<a href="#" class="location"> {{datetime}}</a>
						</li>
						<li>
							<strong style="text-decoration: underline;">Location:</strong>
							<a href="#" class="location" data-toggle="modal" data-target="#mapModal"> {{location.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Comments</h4>
				</div>
				<div class="panel-body">
					<form class="row">
						<div class="col-md-9 form-group">
							<input id="comment-input" type="text" class="form-control" placeholder="What's on your mind?">
						</div>
						<div class="col-md-1 form-group">
							<button id="add-comment" class="btn btn-primary">Comment</button>
						</div>
					</form>
					<ul>
					{{#each comments}}
						<li>
							<a href="/user/{{createdBy}}"><strong>{{name}}:</strong></a> {{text}}
							{{#if isCommentOwner}}
								 - <a id="delete-comment" href="#">Delete</a>
							{{/if}}
						</li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Going</h4>
				</div>
				<div class="panel-body">
					<ul>
						{{#each goingUsers}}
							<li><a href="/user/{{userId}}">{{name}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="panel-heading">
					<h4>Interested</h4>
				</div>
				<div class="panel-body">
					<ul>
						{{#each interestedUsers}}
							<li><a href="/user/{{userId}}">{{name}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- modal -->
	<div id="mapModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{location.name}}</h4>
				</div>
				<div class="modal-body">
					<div id="mapModal" class="map">
						{{> map mapOptions=locationCoordinates}}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- !modal -->
</template>